<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">书籍</a></li>
            <li class="active">{{book.book.bN?book.book.bN:book.book._id}}</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12" ng-class="{'hidden': book.volume.vId}">
            <div class="panel panel-default">
                <div class="panel-heading">卷</div>
                <div class="panel-body" ng-show="!book.book.bN&&!book.book.isNotFound">加载中……</div>
                <div class="panel-body" ng-show="book.book.isNotFound">404 未找到。请检查书籍ID或稍后重试。</div>
                <div class="list-group">
                    <button type="button" class="list-group-item" ng-repeat="volume in book.book.vs | limitTo: book.page_size_volume: (book.page_volume-1)*book.page_size_volume" ng-click="book.initVolume(volume);" ng-class="{'list-group-item-warning': volume.vId === book.last_id_volume}">
                    <h5>{{volume.vN| limitTo: 11}}{{chapter.vN.length>11?'...':''}}<span class="badge">{{volume.cCnt}}</span><span class="label pull-right" ng-class="{'label-success': volume.vS === 0,'label-warning': volume.vS === 1}">{{ volume.vS === 1?'VIP':'免费'}}</span></h5>
                    </button>
                </div>
                <div class="text-center" ng-if="book.book.bN">
                    <ul uib-pagination total-items="book.book.vs.length" ng-model="book.page_volume" items-per-page="book.page_size_volume" max-size="2" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" ng-class="{'hidden-sm': book.chapter._id,'hidden-xs': book.chapter._id,'hidden': !book.volume.vId}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{{book.volume.vN?book.volume.vN:book.volume.vId}}</span>
                    <div class="btn-group btn-group-xs pull-right">
                        <button class="btn btn-xs btn-link" ng-click="book.initVolume();">&lt;返回</button>
                    </div>
                </div>
                <div class="list-group">
                    <button type="button" class="list-group-item" ng-repeat="chapter in book.volume.cs | limitTo: book.page_size_chapter: (book.page_chapter-1)*book.page_size_chapter" ng-click="book.getChapter(book.book, chapter);" ng-class="{'list-group-item-warning': chapter.id === book.last_id_chapter}">
                    <h5>{{chapter.cN | limitTo: 11}}{{chapter.cN.length>11?'...':''}}<small class="text-muted pull-right">{{chapter.uT | date: 'yyyy-MM-dd HH:mm:ss'}}</small></h5>
                    </button>
                </div>
                <div class="text-center" ng-if="book.volume.vId">
                    <ul uib-pagination total-items="book.volume.cs.length" ng-model="book.page_chapter" items-per-page="book.page_size_chapter" max-size="2" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-xs-12">
            <div class="panel panel-default" ng-if="book.chapter._id">
                <div class="panel-heading">
                    <span>{{book.chapter.cN}}</span>
                    <div class="btn-group btn-group-xs pull-right">
                        <button class="visible-xs-inline visible-sm-inline btn btn-xs btn-link" ng-click="book.initChapter()">&lt;返回</button>
                    </div>
                </div>
                <div  class="text-center" ng-if="book.chapter.content">
                    <ul uib-pager total-items="book.chapter.content.length" ng-model="book.page_content" items-per-page="book.page_size_content" previous-text="&lsaquo;&lsaquo; 上一页" next-text="下一页 &rsaquo;&rsaquo;">
                    </ul>
                </div>
                <div class="panel-body" ng-show="!book.chapter.content">加载中……</div>
                <div class="panel-body" ng-show="book.chapter.isNotFound">404 未找到。请检查书籍ID或稍后重试。</div>
                <div class="panel-body">
                    <p ng-repeat="paragraph in book.chapter.content | limitTo: book.page_size_content: (book.page_content-1)*book.page_size_content">{{paragraph}}</p>
                </div>
                <div class="panel-footer text-center" ng-show="book.chapter.content&&!book.chapter.isNotFound">
                    <span>第{{book.page_content}}页</span>
                </div>
            </div>
        </div>
    </div>
</div>